bussinessType.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT business (departments | location | manager | employees | catalog)*>

<!ATTLIST business id ID #FIXED "B1">
<!ATTLIST business type ID #REQUIRED>

<!ELEMENT location (city,address)>
<!ELEMENT address (street, postalcode)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT postalcode (#PCDATA)>
<!ATTLIST location country ID #REQUIRED>
<!ATTLIST location region ID #IMPLIED>

<!ELEMENT departments (department+)>
<!ELEMENT department (name,description)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST department id ID #REQUIRED>

<!ELEMENT manager (name,contact)>
<!ELEMENT contact (phone,email?)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT employees (employee+)>
<!ELEMENT employee (name | position | contact)*>
<!ELEMENT position (#PCDATA)>
<!ATTLIST employee id ID #REQUIRED>
<!ATTLIST employee status CDATA #REQUIRED>


<!ELEMENT catalog (products,services)>
<!ELEMENT products (product+)>
<!ELEMENT services (service+)>
<!ELEMENT product (name | price | waranty)*>
<!ATTLIST product id ID #REQUIRED>
<!ATTLIST product availability CDATA #REQUIRED>
<!ELEMENT price (#PCDATA)>
<!ELEMENT waranty EMPTY>
<!ATTLIST waranty months CDATA #REQUIRED>
<!ELEMENT service (name,price)>
<!ATTLIST service id ID #REQUIRED>
<!ATTLIST service duration ID #IMPLIED>
<!ATTLIST price currency CDATA #IMPLIED>
