bussinessType.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT business (departments, location,manager,employees,catalog)>

<!ELEMENT location (city,address)>
<!ELEMENT address (street, postalcode)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT postalcode (#PCDATA)>

<!ELEMENT departments (department)>
<!ELEMENT department (name,description)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT manager (name,contact)>
<!ELEMENT contact (phone,email)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT employees (employee)>
<!ELEMENT employee (name,position,contact-e)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT contact-e (phone-e)>
<!ELEMENT phone-e (#PCDATA)>

<!ELEMENT catalog (products,services)>
<!ELEMENT products (product)>
<!ELEMENT services (service)>
<!ELEMENT product (name,price,warranty)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT warranty (#PCDATA)>
<!ELEMENT service (name,price)>
